<div>
  <h2 style="padding-top: 1rem">New book</h2>
    <%= form_with model: book do |f| %>
      <div class="form-group">
        <div>
          <label>Title</label>
          <textarea class="form-control book_body" name="book[title]"></textarea>
        </div>
        <div style="padding-top: 1rem">
          <label>Opinion</label>
          <textarea class="form-control book_body" name="book[body]"></textarea>  
        </div>
            <input class="btn btn-success" type="submit" value="Create Book">
      </div>
    <% end %>
</div>    
